@model IEnumerable<WS.MIWFit.Web.Models.FitStats>

@{
    ViewData["Title"] = "FitStatsList";
}

<h1>MyFitStats</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deficit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superavit)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.ActionLink(Math.Round(item.Calories) + "", "FoodExamples", "Foods", new { calories = Math.Round(item.Calories) })
            </td>
            <td>
                @Html.ActionLink(Math.Round(item.Deficit) + "", "FoodExamples", "Foods", new { calories = Math.Round(item.Deficit) })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.ActionLink(Math.Round(item.Superavit) + "", "FoodExamples", "Foods", new { calories = Math.Round(item.Superavit) })
            </td>
        </tr>
}
    </tbody>
</table>
